<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UnitTesting">
    <test name="DistanceMetricTest">
        <classes>
            <class name="cs437.som.distancemetrics.ManhattanDistanceMetricTest"/>
            <class name="cs437.som.distancemetrics.EuclideanDistanceMetricTest"/>
            <class name="cs437.som.distancemetrics.ChebyshevDistanceMetricTest"/>
        </classes>
    </test>
    <test name="LearningRateRunctionTest">
        <classes>
            <class name="cs437.som.learningrate.ConstantLearningRateFunctionTest"/>
            <class name="cs437.som.learningrate.ExponentialDecayLearningRateFunctionTest"/>
            <class name="cs437.som.learningrate.HyperbolicLearningRateFunctionTest"/>
        </classes>
    </test>
    <test name="TopologyTests">
        <classes>
            <class name="cs437.som.topology.SquareGridTest"/>
            <class name="cs437.som.topology.SkewHexagonalGridTest"/>
        </classes>
    </test>
    <test name="NeighborhoodWidthFunctionTest">
        <classes>
            <class name="cs437.som.neighborhood.ConstantNeighborhoodWidthFunctionTest"/>
            <class name="cs437.som.neighborhood.ExponentialDecayNeighborhoodWidthTest"/>
            <class name="cs437.som.neighborhood.HyperbolicNeighborhoodWidthFunctionTest"/>
            <class name="cs437.som.neighborhood.LinearDecayNeighborhoodWidthFunctionTest"/>
            <class name="cs437.som.neighborhood.CompoundNeighborhoodTest"/>
        </classes>
    </test>
</suite>